
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px;
}
.card{
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
    background: lightblue;
    border: 3px solid #000;
    box-shadow: 0 1px 15px lightblue;
    border-radius: 10px;
}